# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.pnp.js
admin-page/node_modules/
enter-the-arena/node_modules/
story-submission/node_modules/
shared/node_modules/
/.pnp

# testing
/coverage

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
