@keyframes flyIn {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes flyInReverse {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceReverse {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.adventure-image {
  animation: flyIn 2s ease-in-out, bounce 1s ease-in-out 2s;
}

.fantasy-image {
  animation: flyInReverse 2s ease-in-out, bounceReverse 1s ease-in-out 2s;
}

.textbox { 
  animation: fadeInUp 1s ease-in-out 3s; 
} 

.submit-button { 
  animation: fadeInUp 1s ease-in-out 4s; 
} 

.reset-button { 
  animation: fadeInUp 1s ease-in-out 5s; 
}