@import url('./_animation.scss');
@import url('./_colors.scss');
@import url('./_spacing.scss');
@import url('./_typography.scss');
@import 'bootstrap/dist/css/bootstrap.min.css';

// breakpoints
$mobile: 600px;
$tablet: 900px;
$desktop: 1400px;
$large-desktop: 1600px;

// start styles
#root {
  background-color: transparent; // made transparent to allow WP backgrounds to come through
}

.App-Main {
  max-width: $desktop;
  padding-top: 4rem;
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    padding: 1rem;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    padding: 2rem;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding: 5rem;
  }

  @media screen and (min-width: $desktop) {
    padding: 4rem;
  }
}

// start components styling

// menu button icon
.custom-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

// card- prompt-card.tsx & content-warning.tsx
div.w-100 > .card:hover,
.card-selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 0 2px rgb(13, 110, 253);
  transform: translate(3px, -3px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: rgba(179, 199, 255, 0.25);

  @media prefers-dark-interface {
    box-shadow: 0 4px 8px rgba(244, 244, 244, 0.2);
  }
}

.hover-medium:hover {
  font-weight: 500;
}

// hive-genre-square.tsx
.genre-square {
  cursor: pointer;
}

.genre-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-square:hover .genre-image {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// Link text
.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  color: inherit;
  text-decoration: none;
}

// table styling
.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.table-fixed tbody tr td {
  height: 100px; /* Set a fixed height for table cells */
  vertical-align: top; /* Align content to the top */
}

.table-fixed thead th {
  width: 14.28%; /* Ensure equal width for each column */
}
