@import url('./_colors.scss');
@import url('./_reset.scss');
@import url('./_spacing.scss');
@import url('./_typography.scss');
@import 'bootstrap/dist/css/bootstrap.min.css';

// breakpoints
$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;
$large-desktop: 1600px;

// start styles
#root {
  height: 100vh;
  width: 100vw;
  background-color: transparent; // made transparent to allow WP backgrounds to come through
}

.App-Main {
  max-width: $desktop;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;

  @media screen and (max-width: $mobile) {
    padding: 1rem;
  }

  @media screen and (max-width: $tablet) {
    padding: 5rem;
  }

  @media screen and (max-width: $desktop) {
    padding: 10rem;
  }
}
