@import url('./_colors.scss');
@import url('./_reset.scss');
@import url('./_spacing.scss');
@import url('./_typography.scss');
@import 'bootstrap/dist/css/bootstrap.min.css';

// breakpoints
$mobile: 600px;
$tablet: 900px;
$desktop: 1400px;
$large-desktop: 1600px;

// start styles
#root {
  background-color: transparent; // made transparent to allow WP backgrounds to come through
}

.App-Main {
  max-width: $desktop;
  padding-top: 4rem;
  margin: 0 auto;

  @media screen and (max-width: $mobile) {
    padding: 1rem;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    padding: 2rem;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding: 5rem;
  }

  @media screen and (min-width: $desktop) {
    padding: 4rem;
  }
}
