$text: '#FFFFFF';
$primary: '#bea0f2';
$secondary: '#7029D2'; // need to change secondary and tertiary
$tertiary: '#FFFFFF';

// need to change these colors once I have access to the theming 11/23 -TW
$background: '#bea0f2';
$foreground: '#124A75';
$accent: '#B82761';
$heading: '#D981FF';
$body-text: '#FFFFFF';
$light-background: '#C3C3C3';