$color-text: '#e8eaed';
$color-primary: '#bea0f2';
$color-secondary: '#7029D2'; // need to change secondary and tertiary
$color-tertiary: '#fff';

// need to change these colors once I have access to the theming 11/23 -TW
$color-background: '#202124';
$color-foreground: '#124a75';
$color-accent: '#b82761';
$color-heading: '#e3cbc0';
$color-body-text: '#FFFFFF';
$color-light-background: '#C3C3C3';
$color-button-primary: '#e3cbc0';
$color-button-secondary: '#d9d9d9';
$color-link: '#e8eaed';