$text: '#FFFFFF';
$primary: '#1A6BA9';
$secondary: '#7029D2';
$tertiary: '#FFFFFF';

$background: '#0A2941';
$foreground: '#124A75';
$accent: '#B82761';
$heading: '#D981FF';
$body-text: '#FFFFFF';
$light-background: '#C3C3C3';